* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
 background: rgba(68, 67, 67, 0.753);
 color: rgb(152, 235, 152);
 -webkit-font-smoothing: antialiased;
}

body, input, button {
 font-size: 62.5%;
 font-family: 'Helvetica';
}



button {
 cursor: pointer;
}