/*
=== Styling for the Header component with the nav and logo ===
*/

.Nav {
  background-color: rgba(100, 98, 98, 0.719);
  border-bottom: 1px solid rgba(0,0, 0, 0.0975);
  position: absolute;
  width: 100%;
  z-index: 2;
  -webkit-transition: height 0.2s ease-in-out;
  transition: height 0.2s ease-in-out;
  height: 77px;
}
.Nav-menus {
  display: flex;
  flex-direction: row;
  height: 77px;
  width: 70%;
  margin: 0 auto;
  padding: 26px 40px;
}

