/*
=== Styling for the Post component ===
*/
 

.Poster-name {
  font-size: 20px;
  color: black;
  padding: 16px;
}
.Post-image-bg {
  background-color: black;
}
.Post-image img {
  display: block;
  width: 80%;
  margin-left: 10%;
  padding: 2vh 0;
}
.Post-caption {
  padding: 16px 16px;
  text-align: center;
}
.Post-caption strong {
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  color: black;
  font-weight: bold;
}
.Post-caption p {
  color: white;
  background: grey;
  text-align: center;
  padding: 10px;
}
